
body {background: #ccc; padding:10px 10px 10px 10px;}
a:hover{text-decoration:none;}

h1{text-align:center; font-weight:bolder; padding:10px 10px 10px 10px;}
h2{text-align:center; font-weight:bolder;}




#loginShit{ color:#000; box-shadow:2px 2px 2px 2px #000; max-width:50%; min-width:50%; position:absolute; right:0; text-align:center; margin:0 2% 0 0; }
#logShit{font-weight:bolder; padding:0px; margin:0px; background:#000; color:#ddd; min-width:100%; text-align:center;}	

/* #regShit{color:#000; box-shadow:2px 2px 2px 2px #000; max-width:50%; min-width:50%; margin-right:auto; margin-left:auto;} */


.shit{margin: 10px 10px 10px 0px; padding: 10px 20px 10px 10px; width:100%;}

.s{background:#ddd; color:#000; border:1px solid #000; box-shadow:2px 2px 2px 2px #000;}
.s:hover{background:#ddd; color:#000; border:1px solid #000; box-shadow:4px 4px 4px 4px #000;}

.signs{color:red; text-align:center;}
.signs:hover{border-bottom: 2px solid #ccc; color:#ccc; font-weight:bolder;} 

.regs{color:red; text-align:center;}
.regs:hover{border-bottom: 2px solid #000; color:#000; font-weight:bolder;} 

#foot{position:fixed; bottom:0; left:0; font-size:13px; color: #000; font-weight:bold; padding:20px 20px 20px 20px;}

#errorSHITS{display:none;}
